<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
        	<div class="col-md-12">
        		<h3><%= comments.count %> 件のコメント</h3>
        	</div>
        	<table class="table">
            	<tbody>
            		<% comments.each do |comment| %>
            			<tr>
        		    		<td><%= attachment_image_tag(comment.user, :image, fallback: "no_image.jpg", size: '80x80', class: "img-circle") %></td>
        		    		<td><%= comment.user.name %>さん</td>
        		    		<td><%= comment.created_at.strftime("%Y/%m/%d %H:%M") %></td>
        		    		<td><%= comment.comment %></td>
        		    		<td>
        		    			<% if comment.user == current_user %>
        		    			<%= link_to "削除する", recipe_comment_path(comment.recipe_id, comment.id), method: :delete, remote: true, class: "btn btn-danger btn-md", "data-confirm" => "コメントを削除します。よろしいですか？" %>
        		    			<% end %>
        		    		</td>
        		    	</tr>
            		<% end %>
            	</tbody>
            </table>
        </div>
    </div>
</div>