<div class="container">
	<div class="row">
		<p>レシピ投稿確認</p>
	</div>
    <div class="row">
        <div class="col-md-6">
          <p>料理画像</p>
          <%= attachment_image_tag(@recipe, :image, fallback: "no_image2.jpg", size: '300x300') %>
        </div>
        <div class="col-md-6">
          <p>レシピタイトル</p>
          <p><%= @recipe.title %></p>
          <p>レシピ紹介文</p>
          <p><%= simple_format(@recipe.body) %></p>
          <div class="col-md-6">
            <p>分量：<%= @recipe.quantity %>人前</p>
          </div>
          <div class="col-md-6">
            <p>費用：<%= @recipe.price %>円前後</p>
          </div>
          <div class="col-md-6">
            <p>ジャンル：<%= @genre.name %></p>
          </div>
          <div class="col-md-6">
            <p>種別：<%= @type.name %></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p>材料</p>
        <p><%= simple_format(@recipe.material) %></p>
        </div>
        <div class="col-md-6">
          <p>作り方</p>
        <p><%= simple_format(@recipe.make) %></p>
        </div>
      </div>
        <% @recipe.tags.each do |tag| %>
          <p><%= tag.name %></p>
        <% end %>
    <div class="col-md-8 col-md-offset-2">
      <div class="col-md-6">
          <%= link_to "閉じる", user_path(@recipe.user), class: "btn btn-primary btn-sm" %>
      </div>
      <div class="col-md-6">
          <%= link_to "書き直す", edit_recipe_path(@recipe), class: "btn btn-primary btn-sm" %>
      </div>
    </div>

</div>

