<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3>レシピを投稿する</h3>
    </div>
  </div>
  <%= form_for(@recipe) do |f| %>
    <%= render 'layouts/error', model: @recipe %>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="col-md-6">
          <p>料理画像</p>
          <div class="product-image">
            <%= attachment_image_tag @recipe, :image, class: "img-square", fallback: "no_image2.jpg", size: '450x400' %>
          </div>
          <%= f.attachment_field :image %>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :title, "レシピタイトル" %>
            <%= f.text_field :title, placeholder: "レシピタイトル30文字以内", rows: "3", class: "form-control", required: true %>
          </div>
          <div class="form-group">
            <%= f.label :body, "レシピ紹介文" %>
            <%= f.text_area :body, placeholder: "このレシピの魅力、ポイントなど短い文で紹介してください", rows: "5", class: "form-control", required: true %>
          </div>
          <div class="form-group">
            <%= f.label :quantity, "分量" %>
            <%= f.select :quantity, ["-- 選択してください --",*(1..4)], class: "form-control", required: true %>人前
          </div>
          <div class="form-group">
            <%= f.label :price, "費用" %>
            <%= f.select :price, ["-- 選択してください --",100,200,300,400,500], class: "form-control", required: true %>円前後
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="col-md-12">
          <p>材料</p>
        </div>
        <div class="col-md-7">
          <%= f.text_area :material, rows: "15", class: "form-control", required: true %>
        </div>
        <div class="col-md-5">
          <div class="panel panel-default">
            <div class="panel-heading">記入例</div>
            <div class="panel-body">
              <p>
                たい（刺身用） 120g<br>
                紫玉ねぎ 1/2個<br>
                細長ネギ 10本
              </p>
            </div>
            <div class="panel-heading">アドバイス</div>
            <div class="panel-body">
              <p>
                分量を指定した場合はその人数分の<br>
                材料を入力してください。
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="col-md-12">
          <p>作り方</p>
        </div>
        <div class="col-md-7">
          <%= f.text_area :make, rows: "15", class: "form-control", required: true %>
        </div>
        <div class="col-md-5">
          <div class="panel panel-default">
            <div class="panel-heading">記入例</div>
            <div class="panel-body">
              <p>
                1.魚は3枚に下ろし軽く塩をふります。<br>
                2.1の水気をキッチンペーパーで取り、<br>
                　焼き付けます。
              </p>
            </div>
            <div class="panel-heading">アドバイス</div>
            <div class="panel-body">
              <p>手順ごとに番号を振るとわかりやすいです。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
          <div class="panel-heading">料理ジャンル</div>
            <div class="panel-body">
              <% @genres.each do |genre| %>
                <label><%= f.radio_button :genre_id, genre.id, required: true %><%= genre.name %></label>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
          <div class="panel-heading">料理種別</div>
            <div class="panel-body">
              <% @types.each do |type| %>
                <label><%= f.radio_button :type_id, type.id, required: true %><%= type.name %></label>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <%= f.text_field :name, value: @tag_list %>
      </div>
    </div>
    <div class="text-center">
      <%= f.submit '確認ページへ', class: "btn btn-success" %>
    </div>
  <% end %>
</div>