<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
        		        <h3><%= @recipe.title %></h3>
                    </div>
                </div>
        	</div>
        	<div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
        		        <h4><%= simple_format(@recipe.body) %></h4>
                    </div>
                </div>
        	</div>
        	<div class="col-md-7">
        		<%= attachment_image_tag(@recipe, :image, fallback: "no_image2.jpg", class: "img-responsive") %>
        	</div>
        	<div class="col-md-5">
        		<div class="col-md-4">
        			<%= attachment_image_tag(@recipe.user, :image, fallback: "no_image.jpg", size: '80x80', class: "img-circle") %>
        		</div>
        		<div class="col-md-8">
        			<%= link_to user_path(@recipe.user) do %>
        				<h4><%= @recipe.user.name %>さんのレシピ</h4>
        			<% end %>
                    <h5>
                        <span class="glyphicon glyphicon-heart" style="color: tomato;"><%= @recipe.likes.count %></span>&nbsp;
                        <span class="glyphicon glyphicon-comment"><%= @recipe.comments.count %></span>
                    </h5>
                    <%= render 'relationships/follow', user: @recipe.user %>
        		</div>
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h4>材料</h4></div>
                        <div class="panel-body">
        		           <h5><%= simple_format(@recipe.material) %></h5>
                        </div>
                    </div>
            	</div>
        	</div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
        	<div class="col-md-7">
                <div class="panel panel-default">
                    <div class="panel-heading"><h4>作り方</h4></div>
                    <div class="panel-body">
            		   <h5><%= simple_format(@recipe.make) %></h5>
                    </div>
                </div>
        	</div>
        	<div class="col-md-5">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td class="active">ジャンル</td>
                                <td><%= @recipe.genre.name %></td>
                            </tr>
                            <tr>
                                <td class="active">種別</td>
                                <td><%= @recipe.type.name %></td>
                            </tr>
                            <tr>
                                <td class="active">分量</td>
                                <td><%= @recipe.quantity %>人前</td>
                            </tr>
                            <tr>
                                <td class="active">価格</td>
                                <td><%= @recipe.price %>円前後</td>
                            </tr>
                        </tbody>
                    </table>
                	<% if user_signed_in? %>
                        <% if @recipe.user != current_user %>
                			<%= render 'likes/likes' %>
                		<% end %>
                		<p class="text-center">
            	    	  <%= render 'comments/comment' %>
                        </p>
                        <% if @recipe.user == current_user %>
                            <div class="text-center">
                                <%= link_to "レシピを編集する", edit_recipe_path(@recipe), class: "btn btn-primary btn-md" %>
                                <%= link_to "レシピを削除する", recipe_path(@recipe), "data-confirm" => "レシピを削除します。よろしいですか？", class: "btn btn-danger btn-md", method: :delete %>
                            </div>
                        <% end %>
                    <% end %>
        	   </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
        	<div class="col-md-12">
        		<h3><%= @recipe.comments.count %> 件のコメント</h3>
        	</div>
        	<table class="table">
            	<tbody>
            		<% @comments.each do |comment| %>
            			<tr>
        		    		<td><%= attachment_image_tag(comment.user, :image, fallback: "no_image.jpg", size: '80x80', class: "img-circle") %></td>
        		    		<td><%= comment.user.name %>さん</td>
        		    		<td><%= comment.created_at.strftime("%Y/%m/%d %H:%M") %></td>
        		    		<td><%= comment.comment %></td>
        		    		<td>
        		    			<% if comment.user == current_user %>
        		    			<%= link_to "削除する", recipe_comment_path(comment.recipe_id, comment.id), method: :delete, class: "btn btn-danger btn-md", "data-confirm" => "コメントを削除します。よろしいですか？" %>
        		    			<% end %>
        		    		</td>
        		    	</tr>
            		<% end %>
            	</tbody>
            </table>
        </div>
    </div>
</div>