<div class="container recipe-user">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
        		        <h3><%= @recipe.title %></h3>
                        <% @recipe.tags.each do |tag| %>
                            <span class="badge"> <%= tag.name %></span>
                        <% end %>
        		        <h4><%= simple_format(@recipe.body) %></h4>
                    </div>
                </div>
        	</div>
        	<div class="col-sm-7 col-xs-12">
        		<%= attachment_image_tag(@recipe, :image, fallback: "no_image2.jpg", class: "img-responsive") %>
        	</div>
        	<div class="col-sm-5 col-xs-12">
                <div class="row">
            		<div class="col-sm-3 col-xs-3">
            			<%= attachment_image_tag(@recipe.user, :image, fallback: "no_image.jpg", size: '80x80', class: "img-circle") %>
            		</div>
            		<div class="col-sm-9 col-xs-9">
            			<%= link_to user_path(@recipe.user) do %>
            				<h4><%= @recipe.user.name %>さん  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></h4>
            			<% end %>
                        <% if @recipe.user == current_user %>
                            <div class="row">
                                <div class="col-sm-6 col-xs-6">
                                    <%= link_to "レシピを編集する", edit_recipe_path(@recipe), class: "btn btn-primary btn-sm" %>
                                </div>
                                <div class="col-sm-6 col-xs-6">
                                    <%= link_to "レシピを削除する", recipe_path(@recipe), "data-confirm" => "レシピを削除します。よろしいですか？", class: "btn btn-danger btn-sm", method: :delete %>
                                </div>
                            </div>
                        <% end %>
                        <!-- フォローボタンの表示 -->
                        <%= render 'relationships/follow', user: @recipe.user %>
            		</div>
                </div>
                <div class="col-md-12 material">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h4>材料</h4></div>
                        <div class="panel-body">
        		           <h5><%= simple_format(@recipe.material) %></h5>
                        </div>
                    </div>
            	</div>
        	</div>
        </div>
    </div>
</div>
<div class="container recipe-show">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
        	<div class="col-md-7">
                <div class="panel panel-default">
                    <div class="panel-heading"><h4>作り方</h4></div>
                    <div class="panel-body">
            		   <h5><%= simple_format(@recipe.make) %></h5>
                    </div>
                </div>
        	</div>
        	<div class="col-md-5">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td class="active">ジャンル</td>
                                <td><%= @recipe.genre.name %></td>
                            </tr>
                            <tr>
                                <td class="active">種別</td>
                                <td><%= @recipe.type.name %></td>
                            </tr>
                            <tr>
                                <td class="active">分量</td>
                                <td><%= @recipe.quantity %>人前</td>
                            </tr>
                            <tr>
                                <td class="active">価格</td>
                                <td><%= @recipe.price %>円前後</td>
                            </tr>
                        </tbody>
                    </table>
                	<% if user_signed_in? %>
                        <% if @recipe.user != current_user %>
                            <div class="recipe_<%= @recipe.id %>">
                                <!-- いいねボタンの表示 -->
                    			<%= render 'likes/likes', recipe: @recipe %>
                            </div>
                		<% end %>
                    <% end %>
        	   </div>
            </div>
        </div>
    </div>
</div>
<% if user_signed_in? %>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center" id="comment_form">
                <button class="btn btn-primary comment-modal-open text-center" >
                    コメントをする
                </button>
                <!-- コメント投稿ボタン・フォーム（モーダル） -->
                <%= render 'comments/new', recipe: @recipe, comment: @comment %>
            </div>
        </div>
    </div>
<% end %>
<div id="comments">
    <!-- コメント一覧表示 -->
    <%= render 'comments/index', comments: @comments %>
</div>



