<div class="container">
    <div class="row">
    	<div class="col-md-12">
    		<p><%= @recipe.title %></p>
    	</div>
    	<div class="col-md-12">
    		<p><%= @recipe.body %></p>
    	</div>
    	<div class="col-md-7">
    		<%= attachment_image_tag(@recipe, :image, fallback: "no_image2.jpg", size: '300x300') %>
    	</div>
    	<div class="col-md-5">
    		<div class="col-md-5">
    			<%= attachment_image_tag(@recipe.user, :image, fallback: "no_image.jpg", size: '100x100') %>
    		</div>
    		<div class="col-md-7">
    			<%= link_to user_path(@recipe.user) do %>
    				<%= @recipe.user.name %>さんのレシピ
    			<% end %>
    		</div>
    		<div class="col-md-12">
    			<%= @recipe.material %>
    		</div>
    		<div class="col-md-6">
    			<p class="text-center"><%= @recipe.quantity %>人前</p>
    		</div>
    		<div class="col-md-6">
    			<p class="text-center"><%= @recipe.price %>円前後</p>
    		</div>
    	</div>
    </div>
    <div class="row">
    	<div class="col-md-7">
    		<%= @recipe.make %>
    	</div>
    	<div class="col-md-5">
    		<% if @recipe.user != current_user %>
    			<%= render 'likes/likes' %>
    		<% end %>
    		<p class="text-center">コメントを投稿する<p>
	    	<div class="text-center">
	    		<%= form_for [@recipe, @comment] do |f| %>
	    			<p><%= f.text_area :comment, style: "width: 80%;" %></p>
	    			<p><%= f.submit "コメントを投稿する", class: "btn btn-success" %></p>
	    		<% end %>
	    	</div>
    	</div>
    	<div class="col-md-12">
    		<p class="text-center">コメント一覧</p>
    	</div>
    	<table class="table">
    	<tbody>
    		<% @comments.each do |comment| %>
    			<tr>
		    		<td><%= attachment_image_tag(comment.user, :image, fallback: "no_image.jpg", size: '100x100') %></td>
		    		<td><%= comment.user.name %>さん</td>
		    		<td><%= comment.created_at.to_s(:datetime_jp) %></td>
		    		<td><%= comment.comment %></td>
		    		<td>
		    			<% if comment.user == current_user %>
		    			<%= link_to "削除する", recipe_comments_path(@recipe), method: :delete, class: "btn btn-danger btn-md" %>
		    			<% end %>
		    		</td>
		    	</tr>
    		<% end %>
    	</tbody>
    </div>
</div>