<div class="container">
	<div class="row">
		<div class="col-md-12">
    		<p>お気に入りレシピ一覧</p>
    		<table class="table">
    			<tbody>
	    			<% current_user.like_recipes.each do |recipe| %>
			    		<tr>
				    		<td>
				    			<%= link_to recipe_path(recipe) do %>
				    			<%= attachment_image_tag(recipe, :image, fallback: "no_image2.jpg", size: '200x200') %>
				    			<% end %>
				    		</td>
				    		<td>
				    			<div class="col-md-10">
				    				<%= recipe.title %>
				    			</div>
				    			<div class="col-md-2">
				    				<span class="glyphicon glyphicon-heart-empty"><%= recipe.likes.count %></span>
				    			</div>
				    			<div class="col-md-6">
				    				<%= recipe.user.name %>さん
				    			</div>
				    			<div class="col-md-3">
				    				<%= recipe.quantity %>人前
				    			</div>
				    			<div class="col-md-3">
				    				<%= recipe.price %>円前後
				    			</div>
				    			<div class="col-md-12">
				    				<%= recipe.body %>
				    			</div>
				    		</td>
			    		</tr>
			    	<% end %>
			    </tbody>
			</table>
	    </div>
    </div>
</div>