<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-6">
            	<%= attachment_image_tag(@user, :image, fallback: "no_image.jpg", size: '300x300', class: "img-circle") %>
            </div>
            <div class="col-md-6">
            	<p><%= @user.name %>さん</p>
            	<p><%= simple_format(@user.introduction) %></p>
            	<% if @user == current_user %>
            		<div class="col-md-6">
                        <%= link_to user_followed_path(@user) do %>
                            <p>フォロー　<%= @user.followed.count %></p>
                        <% end %>
                    </div>
                    <div class="col-md-6">
                        <%= link_to user_follower_path(@user) do %>
                            <p>フォロワー　<%= @user.follower.count %></p>
                        <% end %>
                    </div>
                    <div class="col-md-6">
                        <p><%= link_to "マイレシピ", user_likes_path %></p>
                    </div>
                    <div class="col-md-6">
                        <p><%= link_to "会員情報を編集する", edit_user_path(@user) %></p>
                    </div>
                <% else %>
                    <div class="col-md-6">
                        <p>フォロー　<%= @user.followed.count %></p>
                    </div>
                    <div class="col-md-6">
                        <p>フォロワー　<%= @user.follower.count %></p>
                    </div>
            	<% end %>
                <%= render 'relationships/follow', user: @user %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-12 text-center">
            	<p><%= @user.name %>さんの投稿レシピ一覧</p>
            </div>
            <table class="table">
                <tbody>
                    <% @recipes.each do |recipe| %>
                        <tr>
                            <td>
                                <%= link_to recipe_path(recipe.id) do %>
        	        		        <%= attachment_image_tag(recipe, :image, fallback: "no_image2.jpg", size: '100x100') %>
                                <% end %>
                            </td>
                            <td>
                                <p><%= recipe.title %></p>
                                <p><%= simple_format(recipe.body) %></p>
                            </td>
                            <td>
                                <p>お気に入り <%= recipe.likes.count %></p>
                                <p>コメント <%= recipe.comments.count %></p>
                                <p><%= recipe.quantity %>人前</p>
                                <p><%= recipe.price %>円前後</p>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>

