<div class="container user-profile">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <% if @user == current_user %>
                <p class="user-show-title"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> マイページ</p>
            <% else %>
                <p class="user-show-title"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= @user.name %>さんのページ</p>
            <% end %>
            <div class="col-sm-6 col-xs-6">
            	<%= attachment_image_tag(@user, :image, fallback: "no_image.jpg", size: '230x230', class: "img-circle") %>
            </div>
            <div class="col-sm-6 col-xs-6">
            	<h3><%= @user.name %>さん</h3>
            	<h4><%= simple_format(@user.introduction) %></h4>
            	<% if @user == current_user %>
                    <div class="col-md-6 btn">
                        <p><%= link_to "プロフィールを編集する", edit_user_path(@user), class: "btn btn-default" %></p>
                    </div>
            	<% end %>
                <div id="follow" class="btn">
                    <%= render 'relationships/follow', user: @user %>
                </div>
            </div>
        </div>
    </div>
    <div class="row user-show">
        <div class="col-md-10 col-md-offset-1">
            <ul class="nav nav-tabs user-show-nav">
                <div class="col-sm-3 col-xs-3 text-center">
                    <li class="active"><a href="#ContentA" data-toggle="tab">投稿レシピ <span class="badge"> <%= @user.recipes.count %> </span></a></li>
                </div>
                <div class="col-sm-3 col-xs-3 text-center">
                    <li><a href="#ContentB" data-toggle="tab">お気に入り <span class="badge"> <%= @user.like_recipes.count %> </span></a></li>
                </div>
                <div class="col-sm-3 col-xs-3 text-center">
                    <li><a href="#ContentC" data-toggle="tab">フォロー中 <span class="badge"> <%= @user.following_user.count %> </span></a></li>
                </div>
                <div class="col-sm-3 col-xs-3 text-center">
                    <li><a href="#ContentD" data-toggle="tab">フォロワー <span class="badge"> <%= @user.follower_user.count %> </span></a></li>
                </div>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="ContentA">
                    <!-- 投稿したレシピがあるかで判断 -->
                    <% if @user.recipes.empty? %>
                        <h3 class="text-center"><%= @user.name %>さんが投稿したレシピはありません</h3>
                    <% else %>
                        <%= render 'user_recipes', recipes: @user.recipes %>
                    <% end %>
                </div>
                <div class="tab-pane" id="ContentB">
                    <!-- お気に入りレシピがあるか判断 -->
                    <% if @user.like_recipes.empty? %>
                        <h3 class="text-center">お気に入りレシピはありません</h3>
                    <% else %>
                        <%= render 'user_recipes', recipes: @user.like_recipes %>
                    <% end %>
                </div>
                <div class="tab-pane" id="ContentC">
                    <%= render 'relationships/index', users: @user.following_user %>
                </div>
                <div class="tab-pane" id="ContentD">
                    <%= render 'relationships/index', users: @user.follower_user %>
                </div>
            </div>
        </div>
    </div>
</div>

