<div class="container user-profile">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <% if @user == current_user %>
                <p class="user-show-title"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> マイページ</p>
            <% else %>
                <p class="user-show-title"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= @user.name %>さんのページ</p>
            <% end %>
            <div class="col-sm-6 col-xs-6">
            	<%= attachment_image_tag(@user, :image, fallback: "no_image.jpg", size: '230x230', class: "img-circle") %>
            </div>
            <div class="col-sm-6 col-xs-6">
            	<h3><%= @user.name %>さん</h3>
            	<h4><%= simple_format(@user.introduction) %></h4>
            	<% if @user == current_user %>
                    <div class="col-md-6 btn">
                        <p><%= link_to "プロフィールを編集する", edit_user_path(@user), class: "btn btn-default" %></p>
                    </div>
            	<% end %>
                <div id="follow" class="btn">
                    <%= render 'relationships/follow', user: @user %>
                </div>
            </div>
        </div>
    </div>


    <div class="row user-show">
        <div class="col-md-10 col-md-offset-1">
            <div class="area">
                <input type="radio" name="tab_name" id="tab1" checked>
                <label class="tab_class" for="tab1">投稿レシピ <span class="badge"> <%= @user.recipes.count %> </span></label>
                <div class="content_class">
                    <p>
                        <% if @user.recipes.empty? %>
                            <h3 class="text-center"><%= @user.name %>さんが投稿したレシピはありません</h3>
                        <% else %>
                            <%= render 'user_recipes', recipes: @user.recipes %>
                        <% end %>
                    </p>
                </div>
                <input type="radio" name="tab_name" id="tab2" >
                <label class="tab_class" for="tab2">お気に入り <span class="badge"> <%= @user.like_recipes.count %> </span></label>
                <div class="content_class">
                    <p>
                        <% if @user.like_recipes.empty? %>
                            <h3 class="text-center">お気に入りレシピはありません</h3>
                        <% else %>
                            <%= render 'user_recipes', recipes: @user.like_recipes %>
                        <% end %>
                    </p>
                </div>
                <input type="radio" name="tab_name" id="tab3" >
                <label class="tab_class" for="tab3">フォロー中 <span class="badge"> <%= @user.following_user.count %> </span></label>
                <div class="content_class">
                    <p><%= render 'relationships/index', users: @user.following_user %></p>
                </div>
                <input type="radio" name="tab_name" id="tab4" >
                <label class="tab_class" for="tab4">フォロワー <span class="badge"> <%= @user.follower_user.count %> </span></label>
                <div class="content_class">
                  <p><%= render 'relationships/index', users: @user.follower_user %></p>
                </div>
            </div>
        </div>
    </div>
</div>

