<!-- トップページ -->
<div class="shutter"></div>
<div class="top-image">
	<div class="top-image-content">
		<h3><strong>S</strong>imple<strong>K</strong>itchen</h3>
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<% if user_signed_in? %>
					<h4 class="text-center">ようこそ <%= current_user.name %>さん</h4>
				<% else %>
					<div class="col-sm-12 text-center">
						<p><%= link_to "→はじめて利用する方へ", about_path %></p>
					</div>
					<div class="col-sm-12 text-center">
						<%= link_to 'ゲストログイン', homes_guest_sign_in_path, method: :post, class: "top-button" %>
					</div>
					<div class="col-sm-6 text-center">
					    <%= link_to "ログイン", new_user_session_path, class: "top-button" %>
					</div>
					<div class="col-sm-6 text-center">
					    <%= link_to "新規登録", new_user_registration_path, class: "top-button" %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
<div class="container top-recipe-index">
	<div class="row">
		<div class="top-recipe-title">
            <p><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span> 人気のレシピ</p>
        </div>
    </div>
    <!-- いいねの多いレシピ上位３件表示 -->
    <%= render 'recipes/rank_index', recipes: @like_recipes %>
	<div class="col-md-12 text-center index-back">
		<p><%= link_to "人気レシピを見る", rank_index_recipes_path, class: "top-button" %></p>
	</div>
</div>
<div class="container top-recipe-index">
	<div class="row">
		<div class="top-recipe-title">
            <p><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span> 新着レシピ</p>
    	</div>
    </div>
    <!-- レシピの投稿日時が新しい順３件 -->
    <%= render 'recipes/new_index', recipes: @recipes %>
	<div class="col-md-12 text-center index-back">
		<p><%= link_to "新着レシピを見る", new_index_recipes_path, class: "top-button" %></p>
	</div>
</div>


