<div class="top-image">
	<div class="top-image-content">
		<div class="top-image-title">
			<h3>10分キッチン</h3>
		</div>
		<div class="top-image-modal-open">
			<h4>会員登録</h4>
			<h4>ログイン</h4>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-12 top-recipe-title">
            <h3>人気のレシピ</h3>
        </div>
		<div class="col-xs-12">
			<% @like_recipes.each do |recipe|%>
				<div class="col-md-4">
					<div class="col-xs-12 recipe-items">
						<%= link_to recipe_path(recipe) do %>
							<%= attachment_image_tag(recipe, :image, fallback: "no_image2.jpg", class: "img-responsive", style: "height: 250px;") %>
						<% end %>
						<h4><%= recipe.title %></h4>
						<h5><%= simple_format(recipe.body) %></h5>
						<div class="col-xs-3 text-left">
							<%= attachment_image_tag(recipe.user, :image, fallback: "no_image.jpg", size: '50x50', class: "img-circle") %>
						</div>
						<div class="col-xs-9">
						<h5><%= recipe.user.name %>さん</h5>
						<p>
							<span class="glyphicon glyphicon-heart" style="color: tomato;"><%= recipe.likes.count %></span>&nbsp;
							<span class="glyphicon glyphicon-comment"><%= recipe.comments.count %></span>
						</p>
					</div>
				</div>
			</div>
		<% end %>
	</div>
	<div class="row">
		<div class="col-xs-12 top-recipe-title">
            <h3>新着レシピ</h3>
        </div>
		<div class="col-xs-12">
			<% @recipes.each do |recipe|%>
				<div class="col-md-4">
					<div class="col-md-12 recipe-items">
						<%= link_to recipe_path(recipe) do %>
							<%= attachment_image_tag(recipe, :image, fallback: "no_image2.jpg", class: "img-responsive", style: "height: 250px;") %>
						<% end %>
						<h4><%= recipe.title %></h4>
						<h5><%= simple_format(recipe.body) %></h5>
						<div class="col-xs-3 text-left">
							<%= attachment_image_tag(recipe.user, :image, fallback: "no_image.jpg", size: '50x50', class: "img-circle") %>
						</div>
						<div class="col-xs-9">
						<h5><%= recipe.user.name %>さん</h5>
						<p>
							<span class="glyphicon glyphicon-heart" style="color: tomato;"><%= recipe.likes.count %></span>&nbsp;
							<span class="glyphicon glyphicon-comment"><%= recipe.comments.count %></span>
						</p>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>
	

