<!DOCTYPE html>
<html>
  <head>
    <title>KitchenApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/94bbc124d5.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container">
        <div class="row">

          <div class="col-md-4">
            <%= link_to root_path do %>
              <h2 class="title"><span class="glyphicon glyphicon-cutlery">10分キッチン</span></h2>
            <% end %>
          </div>
          <!-- ログインしているユーザーのアイコン -->
          <% if user_signed_in? %>
            <div class="user-icon">
              <%= attachment_image_tag(current_user, :image, fallback: "no_image.jpg", size: '43x43', class: "img-circle") %>
            </div>
          <% end %>
          <!-- 検索フォーム（モーダル） -->
          <a class="js-modal-open open-btn" href="#"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
          <div class="modal js-modal">
            <div class="modal__bg js-modal-close"></div>
            <div class="modal__content">
              <h3 class="text-center">検索フォーム</h3>
              <a class="js-modal-close close-btn" href=""><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
            </div>
          </div>
          <!-- ハンバーガーメニュー -->
          <div id="hm-icon">
            <a class="menu-trigger" href="#">
              <span></span>
              <span></span>
              <span></span>
            </a>
          </div>
          <div id="sp-menu">
            <ul>
              <% if user_signed_in? %>
                <li><%= link_to 'トップページ', root_path %></li>
                <li><%= link_to 'About', about_path %></li>
                <li><%= link_to 'マイページ', user_path(current_user.id) %></li>
                <li><%= link_to 'レシピ一覧', recipes_path %></li>
                <li><%= link_to 'レシピ投稿', new_recipe_path %></li>
                <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, "data-confirm" => "ログアウトします。よろしいですか？" %></li>
              <% else %>
                <li><%= link_to 'トップページ', root_path %></li>
                <li><%= link_to 'レシピ一覧', recipes_path %></li>
                <li><%= link_to 'About', about_path %></li>
                <li><%= link_to 'ログイン', new_user_session_path %></li>
                <li><%= link_to '新規登録', new_user_registration_path %></li>
              <% end %>
             </ul>
          </div>
        </div>
      </div>
    </header>


<!-- フラッシュメッセージ -->
    <% if flash[:notice] %>
      <div class="alert alert-success text-center" role="alert">
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-danger text-center" role="alert">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <main>
      <%= yield %>
    </main>

    <footer>
    </footer>

  </body>
</html>
