<!DOCTYPE html>
<html>
  <head>
    <title>KitchenApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/94bbc124d5.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-inverse">
      <div class="container">
        <nav>
          <ul class="left nav navbar-nav navbar-left">
            <%= link_to root_path do %>
              <h2 class="title"><span class="glyphicon glyphicon-cutlery">10分キッチン</span></h2>
            <% end %>
          </ul>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li>
                <%= link_to user_path(current_user.id) do %>
                  ようこそ<%= current_user.name %>さん！
                <% end %>
              </li>
              <li><%= link_to 'About', about_path %></li>
              <li><%= link_to 'レシピ一覧', recipes_path %></li>
              <li><%= link_to 'レシピ投稿', new_recipe_path %></li>
              <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to 'About', about_path %></li>
              <li><%= link_to 'レシピ一覧', recipes_path %></li>
              <li><%= link_to '新規登録', new_user_registration_path %></li>
              <li><%= link_to 'ログイン', new_user_session_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>


<!-- フラッシュメッセージ -->
    <% if flash[:notice] %>
      <div class="alert alert-success text-center" role="alert">
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-danger text-center" role="alert">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <main>
      <%= yield %>
    </main>

    <footer>
    </footer>

  </body>
</html>
