<!DOCTYPE html>
<html>
  <head>
    <title>SimpleKitchen</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="https://kit.fontawesome.com/94bbc124d5.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="body-image"></div>
  <div class="body-image2"></div>
    <header>
      <div class="container">
        <div class="row">

          <div class="col-md-4">
            <%= link_to root_path do %>
              <p class="title">
                <strong>S</strong>imple<strong>K</strong>itchen
              </p>
            <% end %>
          </div>
          <!-- 検索フォーム（モーダル） -->
          <a class="js-modal-open open-btn" href="#"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
          <div class="modal js-modal">
            <div class="modal__bg js-modal-close"></div>
            <div class="modal__content">
              <div class="search-form">
                <div class="input-group" style="width: 100%;">
                  <%= form_tag(recipes_path,:method => 'get') do %>
                    <%= text_field_tag :search %>
                    <%= submit_tag '検索', :name => nil, class: "search-btn" %>
                  <% end %>
                </div>
              </div>
              <!-- 検索モーダルジャンル一覧 -->
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <div class="row">
                    <div class="col-md-6 col-xs-6 ">
                      <%= link_to recipes_path(ranks: 1) do %>
                        <div class="ranks">
                          <span class="glyphicon glyphicon-star" aria-hidden="true"> ランキング</span>
                        </div>
                      <% end %>
                    </div>
                    <div class="col-md-6 col-xs-6">
                      <%= link_to recipes_path(new_recipes: 2) do %>
                        <div class="new_recipes">
                          <span class="glyphicon glyphicon-ok" aria-hidden="true"> 新着レシピ</span>
                        </div>
                      <% end %>
                    </div>
                    <div class="col-md-4 col-xs-6">
                      <a class="genre-modal-open" href="#">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"> ジャンル</span>
                      </a>
                    </div>
                    <div class="col-md-4 col-xs-6">
                      <a class="type-modal-open" href="#">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"> 種別</span>
                      </a>
                    </div>
                    <div class="col-md-4 col-xs-6">
                      <a class="tag-modal-open" href="#">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"> タグ</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="genre-modal">
                <div class="row">
                  <% @genres.each do |genre| %>
                    <%= link_to recipes_path(genre_id: genre.id) do %>
                      <div class="col-md-4 col-xs-4 text-center">
                        <div class="col-md-12 modal-contents">
                          <%= attachment_image_tag(genre, :image, fallback: "no_image2.jpg", class: "img-responsive", style: "height: 180px;") %>
                          <p><%= genre.name %></p>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
                <div class="col-xs-12 text-center">
                  <a class="genre-modal-close" href="#">閉じる</a>
                </div>
              </div>

              <!-- 検索モーダル種別一覧 -->
              <div class="type-modal">
                <div class="row">
                  <% @types.each do |type| %>
                    <%= link_to recipes_path(type_id: type.id) do %>
                      <div class="col-md-3 col-xs-4 text-center">
                        <div class="col-md-12 modal-contents">
                          <%= attachment_image_tag(type, :image, fallback: "no_image2.jpg", class: "img-responsive", style: "height: 175px;") %>
                          <p><%= type.name %></p>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
                <div class="col-xs-12 text-center">
                  <a class="type-modal-close" href="#">閉じる</a>
                </div>
              </div>

              <!-- 検索モーダルタグ一覧 -->
              <div class="tag-modal">
                <div class="row">
                  <% @tags.each do |tag| %>
                    <%= link_to recipes_path(tag_id: tag.id) do %>
                      <div class="col-md-3 col-xs-6 text-center">
                        <div class="col-md-12">
                          <h4><%= tag.name %></h4>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
                <div class="col-xs-12 text-center">
                  <a class="tag-modal-close" href="#">閉じる</a>
                </div>
              </div>


              <a class="js-modal-close close-btn" href=""><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
            </div>
          </div>
          <!-- ハンバーガーメニュー -->
          <div id="hm-icon">
            <a class="menu-trigger" href="#">
              <span></span>
              <span></span>
              <span></span>
            </a>
          </div>
          <div id="sp-menu">
            <ul>
              <% if user_signed_in? %>
                <li><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>　<%= link_to 'トップページ', root_path %></li>
                <li><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>　<%= link_to 'About', about_path %></li>
                <li><span class="glyphicon glyphicon-user" aria-hidden="true"></span>　<%= link_to 'マイページ', user_path(current_user.id) %></li>
                <li><span class="glyphicon glyphicon-th" aria-hidden="true"></span>　<%= link_to 'レシピ一覧', recipes_path %></li>
                <li>
                  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>　<%= link_to 'レシピを書く', new_recipe_path %>
                </li>
                <li><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>　<%= link_to 'ログアウト', destroy_user_session_path, method: :delete, "data-confirm" => "ログアウトします。よろしいですか？" %></li>
              <% else %>
                <li><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>　<%= link_to 'トップページ', root_path %></li>
                <li><span class="glyphicon glyphicon-th" aria-hidden="true"></span>　<%= link_to 'レシピ一覧', recipes_path %></li>
                <li><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>　<%= link_to 'About', about_path %></li>
                <li><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>　<%= link_to 'ログイン', new_user_session_path %></li>
                <li><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>　<%= link_to '新規登録', new_user_registration_path %></li>
              <% end %>
             </ul>
          </div>
        </div>
      </div>
    </header>


<!-- フラッシュメッセージ -->
    <% if flash[:notice] %>
      <div class="alert alert-success text-center" role="alert">
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-danger text-center" role="alert">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <main>
      <%= yield %>
    </main>

    <footer>
      <div class="copyright">
        <p class="contact">© 2020 - SimpleKitchen</p>
      </div>
      <div class="sns">
        <a href="#" class="contact">Contact</a>
        <a href="#" class="fb"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></a>
        <a href="#" class="tw"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></a>
        <a href="#" class="insta"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></a>
      </div>
    </footer>
  </body>
</html>
